body {
  font-family: "Jost", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

/*Not found ve loading sayfaları 100% height olmadığı için globalde veriyoruz*/
div[data-nextjs-scroll-focus-boundary] {
  height: 100%;
}

.body-container {
  display: grid;
  grid-template-columns: 1fr min(1440px, 100%) 1fr;
  grid-template-rows: 65px auto;
  overflow-x: hidden;
}

.body-container > * {
  grid-column: 2;
}

.body-container > .fluid {
  grid-column: 1 / -1;
}
